<div class="container py-4">
    <h1 class="mb-4 text-center">Progress Entries</h1>
    <table id="progress_entries" class="table table-striped">
        <thead>
            <tr>
                <th>Participant</th>
                <th>Date</th>
                <th>Description</th>
                <th>Points Earned</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @progress_entries.each do |entry| %>
                <tr>
                <td><%= entry.participant.user.username %></td>
                <td><%= entry.progress_date %></td>
                <td><%= entry.description %></td>
                <td><%= entry.points_earned %></td>
                <td><%= link_to 'Details', entry, class: 'btn btn-primary' %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= link_to 'New progress entry', new_progress_entry_path, class: 'btn btn-success' %>
</div>