<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="mb-4">Welcome to FitChallenge!</h1>
            <p class="lead">Browse and join different fitness chanllenges.</p>
            <p>Assignment 2: Links to each model index below</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="list-group">
                <%= link_to "Users", users_path, class: "list-group-item list-group-item-action" %>
                <%= link_to "Challenges", challenges_path, class: "list-group-item list-group-item-action" %>
                <%= link_to "Badges", badges_path, class: "list-group-item list-group-item-action" %>
                <%= link_to "Notifications", notifications_path, class: "list-group-item list-group-item-action" %>
                <%= link_to "Progress Entries", progress_entries_path, class: "list-group-item list-group-item-action" %>
                <%= link_to "Challenge Participants", challenge_participants_path, class: "list-group-item list-group-item-action" %>
                <%= link_to "User Badges", user_badges_path, class: "list-group-item list-group-item-action" %>
            </div>
        </div>
    </div>
</div>