<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-10 text-center">
            <h1 class="mb-2">Welcome to FitChallenge!</h1>
            <p class="lead">Browse and join different fitness challenges.</p>
        </div>
    </div>

    <div class="row mt-4 g-4">
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Challenges (<%= Challenge.count %>)</h5>
                    <p class="card-text">Create and manage fitness challenges.</p>
                    <div class="d-flex gap-2">
                        <%= link_to "View all", challenges_path, class: "btn btn-primary" %>
                        <%= link_to "New", new_challenge_path, class: "btn btn-success" %>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Participants (<%= ChallengeParticipant.count %>)</h5>
                    <p class="card-text">Users participating in challenges.</p>
                    <div class="d-flex gap-2">
                        <%= link_to "View all", challenge_participants_path, class: "btn btn-primary" %>
                        <%= link_to "New", new_challenge_participant_path, class: "btn btn-success" %>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Progress Entries (<%= ProgressEntry.count %>)</h5>
                    <p class="card-text">Track points and progress in challenges.</p>
                    <div class="d-flex gap-2">
                        <%= link_to "View all", progress_entries_path, class: "btn btn-primary" %>
                        <%= link_to "New", new_progress_entry_path, class: "btn btn-success" %>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Badges (<%= Badge.count %>)</h5>
                    <p class="card-text">Create and award achievement badges.</p>
                    <div class="d-flex gap-2">
                        <%= link_to "View all", badges_path, class: "btn btn-primary" %>
                        <%= link_to "New", new_badge_path, class: "btn btn-success" %>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Users (<%= User.count %>)</h5>
                    <p class="card-text">Manage app users and roles.</p>
                    <div class="d-flex gap-2">
                        <%= link_to "View all", users_path, class: "btn btn-primary" %>
                        <%= link_to "New", new_user_path, class: "btn btn-success" %>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Notifications (<%= Notification.count %>)</h5>
                    <p class="card-text">Messages sent to users.</p>
                    <div class="d-flex gap-2">
                        <%= link_to "View all", notifications_path, class: "btn btn-primary" %>
                        <%= link_to "New", new_notification_path, class: "btn btn-success" %>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">User Badges (<%= UserBadge.count %>)</h5>
                    <p class="card-text">Badges awarded to users.</p>
                    <div class="d-flex gap-2">
                        <%= link_to "View all", user_badges_path, class: "btn btn-primary" %>
                        <%= link_to "New", new_user_badge_path, class: "btn btn-success" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>