<%= form_with model: challenge_participant do |form| %>
    <% if challenge_participant.errors.any? %>
        <div class="alert alert-danger py-1 mb-1">
            <ul class="mb-0">
                <% challenge_participant.errors.full_messages.each do |msg| %>
                    <li class="p-0"><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>    
    <div class="mb-3 fw-bold">
        <%= form.label :user_id, class: "form-label" %>
        <%= form.number_field :user_id, class: "form-control" %>
    </div>
    <div class="mb-3 fw-bold">
        <%= form.label :challenge_id, class: "form-label" %>
        <%= form.number_field :challenge_id, class: "form-control" %>
    </div>
    <div>
        <%= form.submit "Save Participant", class: "btn btn-success" %>
    </div>
<% end %>