<div class="container py-4">
    <h1 class="mb-4 text-center">Challenge Participants</h1>
    <table id="challenge_participants" class="table table-striped">
        <thead>
            <tr>
                <th>User</th>
                <th>Challenge</th>
                <th>Joined At</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @challenge_participants.each do |cp| %>
                <tr>
                    <td><%= cp.user.username %></td>
                    <td><%= cp.challenge.title %></td>
                    <td><%= cp.created_at.strftime('%Y-%m-%d') %></td>
                    <td>
                        <%= link_to 'Check', cp, class: 'btn btn-sm btn-primary' %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= link_to 'New participant', new_challenge_participant_path, class: 'btn btn-success' %>
</div>