<p style="color: green"><%= notice %></p>

<%= render @challenge_participant %>

<div>
  <%= link_to "Edit this challenge participant", edit_challenge_participant_path(@challenge_participant) %> |
  <%= link_to "Back to challenge participants", challenge_participants_path %>

  <%= button_to "Destroy this challenge participant", @challenge_participant, method: :delete %>
</div>
