<%= form_with model: user do |form| %>
    <% if user.errors.any? %>
        <div class="alert alert-danger py-1 mb-3">
            <ul class="mb-0">
                <% user.errors.full_messages.each do |msg| %>
                    <li class="p-0"><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="mb-3 fw-bold">
        <%= form.label :username, class: "form-label" %>
        <%= form.text_field :username, class: "form-control", required: true %>
    </div>
    <div class="mb-3 fw-bold">
        <%= form.label :first_name, class: "form-label" %>
        <%= form.text_field :first_name, class: "form-control", required: true %>
    </div>
    <div class="mb-3 fw-bold">
        <%= form.label :last_name, class: "form-label" %>
        <%= form.text_field :last_name, class: "form-control", required: true %>
    </div>
    <div class="mb-3 fw-bold">
        <%= form.label :email, class: "form-label" %>
        <%= form.email_field :email, class: "form-control", required: true %>
    </div>
    <div class="mb-3 fw-bold">
        <%= form.label :role, class: "form-label" %>
        <%= form.text_field :role, class: "form-control", placeholder: "Admin or Regular" %>
    </div>
    <div>
        <%= form.submit "Save User", class: "btn btn-success" %>
    </div>
<% end %>
