<div class="container py-4">
    <h1 class="mb-4 text-center">Challenges List</h1>
    <table id="challenges" class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Creator</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @challenges.each do |challenge| %>
                <tr>
                    <td><%= challenge.title %></td>
                    <td><%= challenge.creator.username %></td>
                    <td><%= challenge.description %></td>
                    <td>
                        <%= link_to 'Check', challenge, class: 'btn btn-sm btn-primary' %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= link_to 'New challenge', new_challenge_path, class: 'btn btn-success' %>
</div>